* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: "Arimo";
  font-weight: 400;
  background-color: #eeeeee;
}

.contain {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0px 20px;
}

a {
  text-decoration: none;
}

header .nav-bar {
  padding: 20px 0px;
}
header .nav-bar .menu-links {
  list-style-type: none;
  display: flex;
  align-items: center;
  flex-direction: row;
}
@media screen and (max-width: 992px) {
  header .nav-bar .menu-links {
    width: 45%;
    justify-content: start;
  }
}
@media screen and (max-width: 767px) {
  header .nav-bar .menu-links {
    width: 100%;
    justify-content: center;
  }
}
header .nav-bar .menu-links li {
  padding: 0px 15px;
}
@media screen and (max-width: 1200px) {
  header .nav-bar .menu-links li {
    padding: 0px 10px;
  }
}
header .nav-bar .menu-links li a {
  color: #8f8888;
  font-weight: 400;
}
header .nav-bar .menu-links li a:hover {
  color: #d9cf0d;
  font-weight: 400;
}
header .nav-bar .logo {
  display: block;
  text-align: center;
}
@media screen and (max-width: 992px) {
  header .nav-bar .logo {
    width: 25%;
  }
  header .nav-bar .logo img {
    max-width: 100%;
  }
}
@media screen and (max-width: 767px) {
  header .nav-bar .logo {
    width: 100%;
  }
}
header .nav-bar .login-btn {
  list-style-type: none;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: end;
}
@media screen and (max-width: 992px) {
  header .nav-bar .login-btn {
    width: 30%;
  }
}
@media screen and (max-width: 767px) {
  header .nav-bar .login-btn {
    width: 100%;
  }
}
@media screen and (max-width: 567px) {
  header .nav-bar .login-btn {
    padding-top: 15px;
  }
}
header .nav-bar .login-btn li {
  padding: 0px 15px;
}
@media screen and (max-width: 992px) {
  header .nav-bar .login-btn li {
    padding: 0px 5px;
  }
}
header .nav-bar .login-btn li a {
  color: #8f8888;
  padding: 15px 20px;
}
@media screen and (max-width: 992px) {
  header .nav-bar .login-btn li a {
    padding: 15px 5px;
  }
}
header .nav-bar .login-btn li a:hover {
  color: #fff;
  border-radius: 25px;
  background-color: #25585b;
}

.section-banner .banner-cover {
  padding: 25px 0px;
  flex-direction: column-reverse;
}
@media screen and (max-width: 767px) {
  .section-banner .banner-cover .banner-col-1 {
    width: 100%;
    padding: 20px 0px;
  }
}
@media screen and (max-width: 567px) {
  .section-banner .banner-cover .banner-col-1 {
    padding: 20px 0px;
    padding-left: 10px;
  }
}
.section-banner .banner-cover .banner-col-1 .banner-tag span {
  color: #25585b;
  font-weight: 600;
}
.section-banner .banner-cover .banner-col-1 .banner-tag span::before {
  content: " ";
  background-color: #d9cf0d;
  display: inline-block;
  height: 3px;
  width: 80px;
  vertical-align: middle;
  margin-right: 18px;
  border-radius: 20px;
}
.section-banner .banner-cover .banner-col-1 .banner-heading {
  padding: 5px 0px;
}
.section-banner .banner-cover .banner-col-1 .banner-heading h1 {
  font-size: 3.125rem;
  -webkit-text-stroke-width: 3px;
  font-weight: 600;
  color: #2e2e2e;
  letter-spacing: 3px;
}
@media screen and (max-width: 567px) {
  .section-banner .banner-cover .banner-col-1 .banner-heading h1 {
    font-size: 1.875rem;
  }
}
.section-banner .banner-cover .banner-col-1 .banner-content {
  padding: 10px 0px;
}
.section-banner .banner-cover .banner-col-1 .banner-content p {
  color: #8f8888;
}
.section-banner .banner-cover .banner-col-1 .banner-btn {
  padding: 15px 25px;
  background-color: #25585b;
  border-radius: 25px;
  display: inline;
}
.section-banner .banner-cover .banner-col-1 .banner-btn a {
  color: #fff;
  font-weight: 600;
}
.section-banner .banner-cover .banner-col-1 .banner-tags {
  display: flex;
  align-items: center;
  flex-direction: row;
  list-style-type: none;
  flex-wrap: wrap;
  padding-top: 50px;
  padding-left: 0;
}
.section-banner .banner-cover .banner-col-1 .banner-tags li {
  width: 16%;
  padding: 10px 0px;
  text-align: left;
}
@media screen and (max-width: 992px) {
  .section-banner .banner-cover .banner-col-1 .banner-tags li {
    width: 26.66%;
  }
}
.section-banner .banner-cover .banner-col-1 .banner-tags li a {
  color: #8f8888;
  font-weight: 600;
}
.section-banner .banner-cover .banner-col-1 .banner-tags .bullet-text {
  width: 25%;
  padding: 10px 0px;
  text-align: center;
}
@media screen and (max-width: 992px) {
  .section-banner .banner-cover .banner-col-1 .banner-tags .bullet-text {
    width: 26.66%;
  }
}
.section-banner .banner-cover .banner-col-1 .banner-tags .bullet-icons {
  width: 10%;
  text-align: center;
  color: #d9cf0d;
}
@media screen and (max-width: 992px) {
  .section-banner .banner-cover .banner-col-1 .banner-tags .bullet-icons {
    width: 10%;
  }
}
@media screen and (max-width: 767px) {
  .section-banner .banner-cover .banner-col-2 {
    width: 100%;
  }
}
@media screen and (max-width: 1200px) {
  .section-banner .banner-cover .banner-col-2 img {
    max-width: 100%;
  }
}

footer {
  width: 80%;
  margin: 0 auto;
  display: block;
  position: relative;
}
@media screen and (max-width: 1200px) {
  footer {
    width: 90%;
  }
}
footer .section-achievements {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  position: absolute;
  top: -55px;
  padding-bottom: 50px;
}
@media screen and (max-width: 1200px) {
  footer .section-achievements {
    top: 0px;
  }
}
footer .section-achievements .achievements-col {
  width: 20%;
  padding: 25px 25px;
  background-color: #fff;
  margin: 0px 5px;
}
@media screen and (max-width: 1200px) {
  footer .section-achievements .achievements-col {
    width: 22.5%;
  }
}
@media screen and (max-width: 992px) {
  footer .section-achievements .achievements-col {
    width: 45%;
    margin: 5px;
  }
}
@media screen and (max-width: 567px) {
  footer .section-achievements .achievements-col {
    width: 100%;
  }
}
footer .section-achievements .achievements-col:hover {
  background-color: #25585b;
}
footer .section-achievements .achievements-col:hover .achievements-header span {
  color: #d9cf0d;
}
footer .section-achievements .achievements-col:hover .achievements-content {
  color: #fff;
}
footer .section-achievements .achievements-col .achievements-header {
  padding-bottom: 10px;
}
footer .section-achievements .achievements-col .achievements-header span {
  display: block;
  font-size: 1.375rem;
  line-height: 1;
  -webkit-text-stroke-width: 2px;
  color: #25585b;
}
footer .section-achievements .achievements-col .achievements-content {
  font-size: 1rem;
  color: #8f8888;
}
footer .section-achievements .achievements-col .achievements-content::after {
  content: " ";
  background-color: #d9cf0d;
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 25px;
}/*# sourceMappingURL=index.css.map */