@import 'partial_files/main';

header {

    .nav-bar {
        padding: 20px 0px;

        .menu-links {
            list-style-type: none;
            @include flex-center(row);

            @include mobile {
                justify-content: right;
            }

            li {
                padding: 0px 15px;

                @include desktop {
                    padding: 0px 10px;
                }

                @include tablet{
                    padding: 0px 3px;
                }

                a {
                    color: $text;
                    font-weight: 400;

                    &:hover {
                        color: $hover;
                        font-weight: 400;
                    }
                }
            }
        }

        .logo {
            display: block;
            text-align: center;
            @include tablet {
                width: 25%;

                img{
                    max-width: 100%;

                }
            }
        }

        .login-btn {
            list-style-type: none;
            @include flex-center(row);
            justify-content: end;
            
            @include tablet{
                margin: 0;
            }

            @include mobile{
                padding: 0;
                padding-top: 0;
            }
    
            @include small-mobiles {
                padding-top: 15px;
                justify-content: right;
            }

            li {
                padding: 0px 15px;
                @include tablet {
                    padding: 0px 5px;
                }

                a {
                    color: $text;
                    padding: 15px 20px;
                    @include tablet {
                        padding: 15px 5px;
                    }

                    &:hover {
                        color: #fff;
                        border-radius: 25px;
                        background-color: $btn;

                    }
                }
            }
        }
    }

}

.section-banner {

    .banner-cover {
        padding: 25px 0px;

        .banner-col-1 {
            @include mobile {
               
                padding: 20px 0px;
            }

            @include small-mobiles {
                padding: 20px 0px;
                padding-left: 10px;
            }

            .banner-tag {

                span {
                    color: $btn;
                    font-weight: 600;

                    &::before {
                        content: " ";
                        background-color: $hover;
                        display: inline-block;
                        height: 3px;
                        width: 80px;
                        vertical-align: middle;
                        margin-right: 18px;
                        border-radius: 20px;

                    }
                }
            }

            .banner-heading {
                padding: 5px 0px;

                h1 {
                    font-size: $font-size-50;
                    -webkit-text-stroke-width: 3px;
                    font-weight: 600;
                    color: $text2;
                    letter-spacing: 3px;

                    @include small-mobiles{
                        font-size: $font-size-30;
                    }
                }
            }

            .banner-content {
                padding: 10px 0px;

                p {
                    color: $text;
                }
            }

            .banner-btn {
                padding: 15px 25px;
                background-color: $btn;
                border-radius: 25px;
                display: inline;

                a {

                    color: #fff;
                    font-weight: 600;


                }
            }

            .banner-tags {
                @include flex-center(row);
                list-style-type: none;
                flex-wrap: wrap;
                padding-top: 50px;
                padding-left: 0;

                li {
                    width: 16%;
                    padding: 10px 0px;
                    text-align: left;

                    @include tablet {
                        width: 26.66%;
                    }

                    a {
                        color: $text;
                        font-weight: 600;
                    }

                }

                .bullet-text{
                    width: 25%;
                    padding: 10px 0px;
                    text-align: center;

                    @include tablet {
                        width: 26.66%;
                    }
                    
                }

                .bullet-icons {
                    width: 10%;
                    text-align: center;
                    color: $hover;

                    @include tablet {
                        width: 10%;
                    }
                }

            }
        }

        .banner-col-2{
        
            img{
              max-width: 100%;
            }
        }
    }
}

footer{

    .section-achievements{
        padding-bottom: 50px;
        width: 80%;
        flex-wrap: nowrap;
        margin: 0 auto;
        position: relative;
        top: -55px;

        @include tablet{
            flex-wrap: wrap;
        }

        .achievements-col{
           
            padding: 25px 25px;
            background-color: #fff;
            margin: 0px 5px;

            @include tablet{
                margin: 5px;
            }

            &:hover{
               background-color: $btn;
            }

            &:hover .achievements-header span{
                color: $hover;
            }

            &:hover .achievements-content{
                color: #fff;
            }


            .achievements-header{
                padding-bottom: 10px;

                span{
                    display: block;
                    font-size: $font-size-22;
                    line-height: 1.0;
                    -webkit-text-stroke-width: 2px;
                    color: $btn;
                }
            }

            .achievements-content{
                font-size: $font-size-16;
                color: $text;

                &::after{
                    content: " ";
                    background-color: $hover;
                    display: block;
                    width: 100%;
                    height: 4px;
                    border-radius: 25px;
                    
                }
                
            }
        }
    }
}
                
                