//importing all the partial files

@use '../partial_files/importers';

//generating css for the footer section

footer{
    background-color: #fff;   

        .section-achievements{   
            padding-bottom: 50px;
            justify-content: center;
            position: relative;
            top: -55px;
    
            .achievements-col{
               
                padding: 25px 25px;
                background-color: #fff;
                margin: 0px 5px;
                box-shadow: 13px 11px 20px 0px #807e7e;;
    
                @include importers.tablet{
                    margin: 5px;
                }
    
                &:hover{
                   background-color: importers.$btn;
                }
    
                &:hover .achievements-header span{
                    color: importers.$hover;
                }
    
                &:hover .achievements-content{
                    color: #fff;
                }
    
    
                .achievements-header{
                    padding-bottom: 10px;
    
                    span{
                        display: block;
                        font-size: importers.$font-size-22;
                        line-height: 1.0;
                        -webkit-text-stroke-width: 1px;
                        color: importers.$btn;
                        font-weight: 800;
                    }
                }
    
                .achievements-content{
                    font-size: importers.$font-size-16;
                    color: importers.$text;
    
                    &::after{
                        content: " ";
                        background-color: importers.$hover;
                        display: block;
                        width: 100%;
                        height: 4px;
                        border-radius: 25px;
                        
                    }
                    
                }
            }
        }
    }
                    