//importing all the partial files

@use '../partial_files/importers';

//generating css for the header section which includes a nav-bar, a logo and two buttons

header {

    //using bootstrap classes for generating a hamburger menu which will popup when it is opened in a screen size of less than 576px
    .nav-bar {
        padding: 20px 0px;

        .menu-links {
            list-style-type: none;
            @include importers.flex-center(row);

            @include importers.mobile {
                justify-content: right;
            }

            li {
                padding: 0px 15px;


                @include importers.desktop {
                    padding: 0px 10px;
                }

                @include importers.tablet {
                    padding: 0px 3px;
                }

                a {
                    color: importers.$text;
                    font-family: 'Lato', sans-serif;

                    &:hover {
                        color: importers.$hover;
                    }
                }
            }
        }

        .logo {
            display: block;
            text-align: center;

            @include importers.mobile {
                text-align: left;

                img {
                    max-width: 100%;

                }
            }
        }


        .login-btn {
            list-style-type: none;
            @include importers.flex-center(row);
            justify-content: end;

            @include importers.tablet {
                margin: 0;
            }

            @include importers.mobile {
                padding: 0;
                padding-top: 0;
            }

            @include importers.small-mobiles {
                padding-top: 15px;
                justify-content: right;
            }

            li {
                padding: 0px 15px;

                @include importers.tablet {
                    padding: 0px 5px;
                }

                a {
                    color: importers.$text;
                    padding: 15px 20px;
                    font-family: 'Lato', sans-serif;
                    font-weight: 800;

                    @include importers.tablet {
                        padding: 15px 5px;
                    }

                    &:hover {
                        color: #fff;
                        border-radius: 25px;
                        background-color: importers.$btn;

                    }
                }
            }
        }
    }

}