@import '../partial_files/importers';

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body{
    font-family: 'Lato';
    background-color: $backgrnd;
}

a{
    text-decoration: none;
}