$backgrnd: #f5f5f5;
$btn: #007a82;
$text: #716e6e;
$text2: #3d3d3d;
$hover: #febb0c;

$font-size-7: 0.4375rem; // 7px
$font-size-8: 0.5rem; // 10px
$font-size-9: 0.5625rem; // 9px
$font-size-10: 0.625rem; // 10px
$font-size-11: 0.6875rem; // 11px
$font-size-12: 0.75rem; // 12px
$font-size-13: 0.8125rem; // 12px
$font-size-14: 0.875rem; // 14px
$font-size-15: 0.9375rem; // 15px
$font-size-16: 1rem; // 16px
$font-size-17: 1.0625rem; // 17px
$font-size-17-1: 1.1rem; // 17.6px
$font-size-18: 1.125rem; // 16px
$font-size-19: 1.1875rem; // 19px
$font-size-20: 1.25rem; // 20px
$font-size-21: 1.3125rem; // 21px
$font-size-22: 1.375rem; // 22px
$font-size-23: 1.4375rem; //  23px
$font-size-24: 1.5rem; // 24px
$font-size-25: 1.5625rem; // 25px
$font-size-26: 1.625rem; // 26px
$font-size-27: 1.6875rem; // 27px
$font-size-28: 1.75rem; // 28px
$font-size-29: 1.8125rem; // 29px
$font-size-30: 1.875rem; // 30px
$font-size-32: 2rem; // 32px
$font-size-34: 2.125rem; // 34px
$font-size-35: 2.1875rem; // 35px
$font-size-36: 2.25rem; // 36px
$font-size-38: 2.375rem; // 38px
$font-size-40: 2.5rem; // 40px
$font-size-42: 2.625rem; // 42px
$font-size-44: 2.75rem; // 44px
$font-size-45: 2.8125rem; // 45px
$font-size-46: 2.875rem; // 46px
$font-size-48: 3rem; // 48px
$font-size-50: 3.125rem; // 50px
$font-size-52: 3.25rem; // 52px
$font-size-54: 3.375rem; //54px
$font-size-56: 3.5rem; // 56px
$font-size-58: 3.625rem; // 58px
$font-size-60: 3.875rem; // 60px
$font-size-70: 4.375rem; //70px
$font-size-80: 5rem; //80px
$font-size-90: 5.625rem; //90px
$font-size-100: 6.25rem; //100px
$font-size-112: 7rem; //112px

//check 1024
@mixin desktop{
    @media screen and (max-width:1200px){
        @content;
    }
}

//check 768
@mixin tablet{
    @media screen and (max-width:992px){
        @content;
    }
}

//check 578
@mixin mobile{
    @media screen and (max-width:767px){  
        @content;
    }
}

//check 375
@mixin small-mobiles{
    @media screen and (max-width:567px){
        @content;
    }
}